.title {
  padding: 0;
}

/* Position */
.title.left {
  text-align: left;
}

.title.center {
  text-align: center;
}

.title.right {
  text-align: right;
}

/* Colour */
.title.black h2 {
  color: #000;
}

.title.white h2 {
  color: #fff;
}

.title.blue h2 {
  color: var(--color-blue, #0a6dff);
}
