.table.block {
  width: 100%;
  overflow-x: auto;
}

.table.block table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table.block table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .table.block table {
    font-size: var(--body-font-size-m);
  }
}

.table.block table th {
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--body-font-size-m);
}

.table.block table th,
.table.block table td {
  padding: 5px 14px;
  text-align: left;
}

.table.block table thead tr {
  background-color: var(--color-navy, #001f3d);
  color: var(--color-white, #fff);
  border: 0;
}

.table.block table thead tr th {
  color: var(--color-white, #fff);
}

.table.block table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.table.block table tbody tr:nth-child(even) {
  background-color: rgb(10 109 255 / 5%);
}

.table.block table td a:any-link {
  color: var(--color-link-blue, #004399);
}

.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.block.no-header table tbody tr {
  border-top: 1px solid #e0e0e0;
}

/* striped variant */
.table.block.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.block.bordered table th,
.table.block.bordered table td {
  border: 1px solid;
}
